In [1]:
import gc
import glob
import os
import time

import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
import pandas as pd
import lightgbm as lgb

from sklearn.model_selection import KFold, StratifiedKFold

gc.enable()

%load_ext autoreload
%autoreload 2

### Note:

This kernel is prepared for educational purposes to teach students on how to approach Kaggle and Machine Learning projects in general.

Also, it uses some elements from other kernels like NaN replacement part or GBM parameters. Thanks to the authors of those!

## Machine Learning projects workflow - reusable functions

### General:

This notebook will be revolving around structuring machine learning workflow.
Writing your code in a way which makes it reusable does have a lot of advantages.
Functions written in this notebook are generally simple but enable easy change of parameters without change of output structure, so one can for example compute a few aggregates for a selected DataFrame and then concatenate all of them to a final training/test DF.

Sometimes it is better to put a bit more time into structuring your functions properly, making them reusable in different projects. This way, one can build a code base for different types of ML tasks and often simply copy a set of functions to use them in a new project. Of course, not always everything can be used when copied as is but often a few slight changes or improvements will make code usable again. 

### Home Credit:

In Home Credit, some of the tables have similar structure and therefore the same function can be used on them for proper processing. There are exceptions though - Bureau Balance and Bureau require a different approach, where we first create aggregates for Bureau Balance using `SK_ID_BUREAU`, as this column is also present in Bureau, so Bureau Balance aggregates can be merged using this particular column. This is why in Bureau processing function one should account for merging the Bureau Balance onto Bureau first and then aggregating the Bureau itself. Of course, this process could be divided into two steps and two functions:

1. merge Bureau Balance onto Bureau
2. aggregate Bureau

but for educational purpose the first approach was chosen.

Another thing to keep in mind is the fact that even though table structure may be the same, each DF may require a bit different approach to column processing, NaN imputation or dropping specific columns, which the model should not be trained on (such as `SK_ID_PREV`, `SK_ID_CURR` - in general index or ID columns).

In each of the processing/preparation functions emphasis is also put on column renaming. Even though at first this may seem unnecessary, as the model can be trained on columns named `['1', '2', '3'...]`, checking feature importance or performing further feature selection in an informative way may prove impossible in such case. One more thing to keep in mind is the fact that if one wants to train XGB/LGBM model on DataFrame, column names must be unique. That's one more reason to take care of this when preparing features for the model.

KFold training function has been prepared in a way to enable both easy ensembling (through simple model parameters or splits changes) and easy selection of each fold test predictions. It is much easier to simply take a mean over column axis when having predictions for each fold in a separate column than to try recovering them for already averaged set ;).

### 0. Parameters setting

Even though some of the parameters can hardcoded and in many cases this will not make much difference, you never really know when you may want to use this parameter again, for example to keep files placement or model parameters consistent between functions. 

This is the reason why it's better to have most of them structured as variables or even dictionaries (in cases where there are a lot of parameters).

Here, we will just set the data directory one.

In [2]:
data_src = '../input/'

### 1. Loading the data

In [3]:
def load_data(data_src):
    
    start_time = time.time()
    
    """
    Implement a function loading all DataFrames from the dataset.
    """
    
    print('Time it took to load all the data: {:.4f}s'.format(time.time() - start_time))
    
    return train, test, bureau, bureau_bal, prev, cred_card_bal, pos_cash_bal, ins

In [4]:
def load_data(data_src):
    
    start_time = time.time()
    
    train = pd.read_csv('{}application_train.csv'.format(data_src)) 
    test = pd.read_csv('{}application_test.csv'.format(data_src))
    print('Train and test tables loaded.')
    
    bureau = pd.read_csv('{}bureau.csv'.format(data_src))
    bureau_bal = pd.read_csv('{}bureau_balance.csv'.format(data_src))
    print('Bureau data loaded.')
    
    prev = pd.read_csv('{}previous_application.csv'.format(data_src))
    print('Previous applications data loaded.')
    
    cred_card_bal = pd.read_csv('{}credit_card_balance.csv'.format(data_src))
    print('Credit card balance loaded.')
    
    pos_cash_bal = pd.read_csv('{}POS_CASH_balance.csv'.format(data_src))
    print('POS cash balance loaded.')
    
    ins = pd.read_csv('{}installments_payments.csv'.format(data_src))
    print('Installments data loaded.')
    
    print('Time it took to load all the data: {:.4f}s'.format(time.time() - start_time))
    
    return train, test, bureau, bureau_bal, prev, cred_card_bal, pos_cash_bal, ins


train, test, bureau, bureau_bal, prev, cred_card_bal, pos_cash_bal, ins = load_data(data_src)

Train and test tables loaded.
Bureau data loaded.
Previous applications data loaded.
Credit card balance loaded.
POS cash balance loaded.
Installments data loaded.
Time it took to load all the data: 39.9395s

### 1.2. Drop 'SK_ID_PREV' column and replace values which do not make sense with NaN.

In [5]:
ins = ins.drop(['SK_ID_PREV'], axis=1)
prev = prev.drop(['SK_ID_PREV'], axis=1)
cred_card_bal = cred_card_bal.drop(['SK_ID_PREV'], axis=1)
pos_cash_bal = pos_cash_bal.drop(['SK_ID_PREV'], axis=1)


prev['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace= True)
prev['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace= True)
prev['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace= True)
prev['DAYS_LAST_DUE'].replace(365243, np.nan, inplace= True)
prev['DAYS_TERMINATION'].replace(365243, np.nan, inplace= True)

### 2.1. Aggregate bureau_balance

In [6]:
def prepare_bureau_bal(bureau_bal, group_column='SK_ID_BUREAU', aggregate='count'):
    
    """
    Implement a function to group bureau_bal DF in a way to enable it's merge onto bureau DF.
    Count aggregate is fine.
    Remember to reset the index in order to enable proper merge on column name.
    Remember to rename the columns but not the one the DF is grouped by (the first one), 
    as it has to retain it's original name for merge to be possible.
    It's good to have aggregate name in the columns, as you can then use the function with different aggregates
    and merge onto final DF easily, without having to deal with duplicate column names.
    Hint: this can be done if you select only columns not containing group_column string in their names.
    """
    
    return bureau_bal_group

In [7]:
def prepare_bureau_bal(bureau_bal, group_column='SK_ID_BUREAU', aggregate='count'):
    
    bureau_bal_prepared = bureau_bal.groupby([group_column]).agg(aggregate).reset_index()
    bureau_bal_prepared.columns = [
        'bureau_bal_{}_{}'.format(x, aggregate) if group_column not in x else x for x in bureau_bal_prepared.columns]
    
    return bureau_bal_prepared


bureau_bal_prepared = prepare_bureau_bal(bureau_bal, aggregate='count')
bureau_bal_prepared

        SK_ID_BUREAU  bureau_bal_MONTHS_BALANCE_count  bureau_bal_STATUS_count
0            5001709                               97                       97
1            5001710                               83                       83
2            5001711                                4                        4
3            5001712                               19                       19
4            5001713                               22                       22
5            5001714                               15                       15
6            5001715                               60                       60
7            5001716                               86                       86
8            5001717                               22                       22
9            5001718                               39                       39
10           5001719                               43                       43
11           5001720                               36                       36
12           5001721                               85                       85
13           5001722                               86                       86
14           5001723                               31                       31
15           5001724                               31                       31
16           5001725                                8                        8
17           5001726                               39                       39
18           5001727                               95                       95
19           5001728                                1                        1
20           5001729                                7                        7
21           5001730                               61                       61
22           5001731                               11                       11
23           5001732                               36                       36
24           5001733                               11                       11
25           5001734                                3                        3
26           5001735                               24                       24
27           5001736                               24                       24
28           5001737                               22                       22
29           5001738                               44                       44
...              ...                              ...                      ...
817365       6842859                               36                       36
817366       6842860                               36                       36
817367       6842861                               36                       36
817368       6842862                               69                       69
817369       6842863                               79                       79
817370       6842864                               35                       35
817371       6842865                               19                       19
817372       6842866                                5                        5
817373       6842867                               15                       15
817374       6842868                               56                       56
817375       6842869                               27                       27
817376       6842870                               36                       36
817377       6842871                               19                       19
817378       6842872                               88                       88
817379       6842873                               56                       56
817380       6842874                               90                       90
817381       6842875                               77                       77
817382       6842876                               26                       26
817383       6842877                               41                       41
817384       6842878                               30                       30
817385       6842879                               39                       39
817386       6842880                               58                       58
817387       6842881                               32                       32
817388       6842882                                8                        8
817389       6842883                               37                       37
817390       6842884                               48                       48
817391       6842885                               24                       24
817392       6842886                               33                       33
817393       6842887                               37                       37
817394       6842888                               62                       62

[817395 rows x 3 columns]

### 2.2. Aggregate bureau and merge bureau_bal onto it

In [8]:
def prepare_bureau(bureau, bureau_bal_prepared, group_column='SK_ID_CURR', aggregate='mean'):
    
    """
    Implement a function to group bureau DF in a way to enable it's merge onto train/test DF.
    Mean aggregate is fine.
    Remember to reset the index in order to enable proper merge on column name.
    Remember to rename the columns but not the one the DF is grouped by (the first one), 
    as it has to retain it's original name for merge to be possible.
    It's good to have aggregate name in the columns, as you can then use the function with different aggregates
    and merge onto final DF easily, without having to deal with duplicate column names.
    Hint: this can be done if you select only columns not containing group_column string in their names.
    """
    
    return bureau_prepared

In [9]:
def prepare_bureau(bureau, bureau_bal_prepared, group_column='SK_ID_CURR', aggregate='mean'):
    
    bureau_prepared = bureau.merge(bureau_bal_prepared, how='left', on='SK_ID_BUREAU', copy=False)
    bureau_prepared = bureau_prepared.groupby([group_column]).agg(aggregate).reset_index()
    bureau_prepared.columns = [
        'bureau_{}_{}'.format(x, aggregate) if group_column not in x else x for x in bureau_prepared.columns]
    
    return bureau_prepared

bureau_prepared = prepare_bureau(bureau, bureau_bal_prepared, aggregate='mean')
bureau_prepared

,SK_ID_CURR,bureau_SK_ID_BUREAU_mean,bureau_DAYS_CREDIT_mean,bureau_CREDIT_DAY_OVERDUE_mean,bureau_DAYS_CREDIT_ENDDATE_mean,bureau_DAYS_ENDDATE_FACT_mean,bureau_AMT_CREDIT_MAX_OVERDUE_mean,bureau_CNT_CREDIT_PROLONG_mean,bureau_AMT_CREDIT_SUM_mean,bureau_AMT_CREDIT_SUM_DEBT_mean,bureau_AMT_CREDIT_SUM_LIMIT_mean,bureau_AMT_CREDIT_SUM_OVERDUE_mean,bureau_DAYS_CREDIT_UPDATE_mean,bureau_AMT_ANNUITY_mean,bureau_bureau_bal_MONTHS_BALANCE_count_mean,bureau_bureau_bal_STATUS_count_mean
0,100001,5.896633e+06,-735.000000,0.0,82.428571,-825.500000,NaN,0.000000,2.076236e+05,8.524093e+04,0.000000,0.000,-93.142857,3545.357143,24.571429,24.571429
1,100002,6.153272e+06,-874.000000,0.0,-349.000000,-697.500000,1681.029000,0.000000,1.081319e+05,4.915620e+04,7997.141250,0.000,-499.875000,0.000000,13.750000,13.750000
2,100003,5.885878e+06,-1400.750000,0.0,-544.500000,-1097.333333,0.000000,0.000000,2.543501e+05,0.000000e+00,202500.000000,0.000,-816.000000,NaN,NaN,NaN
3,100004,6.829134e+06,-867.000000,0.0,-488.500000,-532.500000,0.000000,0.000000,9.451890e+04,0.000000e+00,0.000000,0.000,-532.000000,NaN,NaN,NaN
4,100005,6.735201e+06,-190.666667,0.0,439.333333,-123.000000,0.000000,0.000000,2.190420e+05,1.894695e+05,0.000000,0.000,-54.333333,1420.500000,7.000000,7.000000
5,100007,5.987200e+06,-1149.000000,0.0,-783.000000,-783.000000,0.000000,0.000000,1.462500e+05,0.000000e+00,0.000000,0.000,-783.000000,NaN,NaN,NaN
6,100008,6.491433e+06,-757.333333,0.0,-391.333333,-909.000000,0.000000,0.000000,1.561485e+05,8.001900e+04,0.000000,0.000,-611.000000,NaN,NaN,NaN
7,100009,5.651005e+06,-1271.500000,0.0,-794.937500,-1108.500000,0.000000,0.000000,2.667118e+05,7.695354e+04,0.000000,0.000,-851.611111,NaN,NaN,NaN
8,100010,5.576631e+06,-1939.500000,0.0,-119.500000,-1138.000000,NaN,0.000000,4.950000e+05,1.740038e+05,0.000000,0.000,-578.000000,NaN,36.000000,36.000000
9,100011,5.741084e+06,-1773.000000,0.0,-1293.250000,-1463.250000,5073.615000,0.000000,1.088071e+05,0.000000e+00,0.000000,0.000,-1454.750000,NaN,NaN,NaN
10,100013,5.922081e+06,-1737.500000,0.0,-1068.000000,-1054.750000,19305.000000,0.000000,5.180700e+05,0.000000e+00,NaN,0.000,-775.500000,0.000000,57.500000,57.500000
11,100014,5.326770e+06,-1095.375000,0.0,-387.375000,-821.333333,3726.352500,0.000000,3.412416e+05,1.516428e+05,0.000000,0.000,-615.875000,NaN,NaN,NaN
12,100015,5.473350e+06,-947.750000,0.0,-598.250000,-555.500000,NaN,0.000000,1.023739e+05,0.000000e+00,0.000000,0.000,-551.250000,NaN,NaN,NaN
13,100016,5.217357e+06,-618.428571,0.0,-217.142857,-929.666667,0.000000,0.000000,6.785486e+04,1.274490e+04,0.000000,0.000,-405.857143,NaN,NaN,NaN
14,100017,5.704886e+06,-1944.333333,0.0,-1512.333333,-1677.833333,0.000000,0.000000,1.432950e+05,0.000000e+00,0.000000,0.000,-1594.333333,NaN,NaN,NaN
15,100019,5.832096e+06,-495.000000,0.0,5441.000000,NaN,0.000000,0.000000,3.600000e+05,1.227351e+05,135000.000000,0.000,-26.500000,27000.000000,17.000000,17.000000
16,100020,6.093290e+06,-261.500000,0.0,-32.500000,-223.000000,0.000000,0.000000,4.987125e+04,3.077212e+04,0.000000,0.000,-130.750000,NaN,NaN,NaN
17,100022,6.795608e+06,-337.000000,0.0,940.000000,NaN,0.000000,0.000000,5.287500e+05,2.052765e+05,0.000000,0.000,-28.000000,NaN,NaN,NaN
18,100023,6.296143e+06,-1164.384615,0.0,-364.916667,-997.300000,2720.850000,0.000000,1.265917e+05,1.370385e+04,0.000000,0.000,-634.076923,NaN,NaN,NaN
19,100025,6.187585e+06,-700.000000,0.0,1124.000000,NaN,NaN,0.000000,2.452500e+06,1.886544e+06,0.000000,0.000,-49.000000,NaN,NaN,NaN
20,100026,5.103097e+06,-679.000000,0.0,899.000000,-916.000000,0.000000,0.000000,1.875000e+06,1.738907e+06,0.000000,0.000,-314.666667,NaN,NaN,NaN
21,100027,5.904154e+06,-793.000000,0.0,-278.333333,-902.500000,2565.000000,0.000000,2.084325e+05,1.255710e+05,0.000000,0.000,-600.666667,NaN,NaN,NaN
22,100028,6.356884e+06,-1401.750000,0.0,2387.700000,-1238.285714,0.000000,0.000000,1.267396e+05,1.863045e+04,14484.394286,0.000,-651.500000,3012.010714,46.666667,46.666667
23,100029,5.460404e+06,-1416.750000,0.0,-336.333333,-1541.333333,NaN,0.000000,1.857008e+06,1.227429e+06,0.000000,0.000,-1041.750000,NaN,NaN,NaN
24,100030,6.584422e+06,-930.833333,0.0,-61.600000,-624.000000,0.000000,0.000000,1.072385e+05,7.527375e+04,4276.005000,0.000,-411.166667,NaN,NaN,NaN
25,100031,6.187664e+06,-579.571429,0.0,468.600000,-449.000000,NaN,0.000000,5.672359e+05,5.625000e+05,NaN,0.000,-266.285714,NaN,NaN,NaN
26,100032,5.038524e+06,-1071.000000,0.0,-525.250000,-636.666667,0.000000,0.000000,3.177900e+05,0.000000e+00,0.000000,0.000,-436.750000,17437.500000,19.000000,19.000000
27,100033,5.943236e+06,-195.000000,0.0,913.000000,NaN,NaN,0.000000,6.750000e+05,0.000000e+00,0.000000,0.000,-169.000000,NaN,7.000000,7.000000
28,100035,5.407253e+06,-1399.333333,0.0,487.000000,-2023.750000,13760.066250,0.000000,3.938984e+05,4.108743e+05,0.000000,0.000,-915.333333,NaN,NaN,NaN
29,100036,6.673494e+06,-889.000000,0.0,-462.000000,NaN,NaN,0.000000,9.495900e+04,8.339355e+03,NaN,0.000,-519.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305781,456220,5.015729e+06,-1000.800000,0.0,5134.000000,-1076.666667,0.000000,0.400000,1.660680e+05,1.175350e+05,57551.145000,0.000,-458.800000,NaN,NaN,NaN
305782,456221,6.645689e+06,-727.200000,0.0,7.000000,-457.666667,11427.750000,0.000000,2.237598e+05,1.112940e+05,0.000000,0.000,-282.200000,5960.700000,24.200000,24.200000
305783,456223,6.433063e+06,-539.000000,0.0,-382.250000,-412.750000,0.000000,0.000000,4.312619e+05,4.268700e+03,7300.687500,0.000,-308.400000,1263.375000,18.400000,18.400000
305784,456224,6.438680e+06,-1755.823529,0.0,-865.875000,-1530.909091,1492.488000,0.000000,2.263932e+05,5.251190e+04,0.000000,0.000,-907.823529,4608.450000,58.176471,58.176471
305785,456225,6.311765e+06,-1053.000000,0.0,253.125000,-714.000000,NaN,0.000000,4.126880e+05,3.996357e+05,11822.460000,0.000,-174.333333,NaN,30.111111,30.111111
305786,456226,5.776436e+06,-455.000000,0.0,514.000000,NaN,NaN,0.000000,2.250000e+05,2.550600e+04,0.000000,0.000,-15.500000,NaN,15.500000,15.500000
305787,456227,5.394376e+06,-1596.250000,0.0,-726.250000,-1305.000000,4680.000000,0.000000,1.993106e+05,5.231700e+04,0.000000,0.000,-964.250000,NaN,NaN,NaN
305788,456229,6.487026e+06,-1839.000000,0.0,9118.000000,NaN,11353.500000,1.000000,2.587500e+05,NaN,NaN,0.000,-43.000000,NaN,NaN,NaN
305789,456230,6.006131e+06,-1254.833333,1.0,2025.200000,-1091.000000,0.000000,0.000000,1.163869e+05,2.532027e+04,0.000000,17.625,-626.000000,16089.942857,32.083333,32.083333
305790,456231,5.856978e+06,-712.285714,0.0,536.714286,-529.500000,NaN,0.000000,4.733479e+05,1.407780e+05,0.000000,0.000,-190.142857,14832.000000,13.142857,13.142857
305791,456232,5.301868e+06,-529.500000,0.0,506.000000,NaN,NaN,0.000000,4.005000e+05,2.586712e+05,0.000000,0.000,-28.000000,NaN,NaN,NaN
305792,456233,5.633934e+06,-203.000000,0.0,528.000000,NaN,0.000000,0.000000,2.826633e+05,2.239439e+05,0.000000,0.000,-20.000000,7537.500000,7.000000,7.000000
305793,456234,5.087536e+06,-756.600000,0.0,-205.100000,-701.714286,10364.122500,0.000000,1.393960e+05,2.452031e+03,64.297500,0.000,-507.300000,13125.015000,13.100000,13.100000
305794,456235,6.163534e+06,-1785.000000,0.0,1381.333333,-1243.500000,0.000000,0.000000,4.930500e+05,3.866790e+05,0.000000,0.000,-727.666667,NaN,41.000000,41.000000
305795,456236,6.004318e+06,-1270.153846,0.0,478.769231,-1343.888889,2805.545455,0.000000,6.389756e+05,4.420797e+05,0.000000,0.000,-946.153846,NaN,NaN,NaN
305796,456237,5.118918e+06,-1430.000000,0.0,-699.000000,-1090.000000,NaN,0.000000,9.814500e+04,0.000000e+00,0.000000,0.000,-1090.000000,NaN,NaN,NaN
305797,456238,6.460416e+06,-2157.833333,0.0,-1561.666667,-2362.500000,3191.737500,0.000000,1.849170e+05,1.042252e+05,0.000000,0.000,-1579.333333,6600.000000,70.333333,70.333333
305798,456239,5.319579e+06,-1529.909091,0.0,333.000000,-1534.166667,0.000000,0.000000,5.693011e+05,3.809529e+05,0.000000,0.000,-770.000000,NaN,NaN,NaN
305799,456240,6.717952e+06,-1438.500000,0.0,12425.000000,-2464.000000,3996.000000,0.000000,6.619950e+04,3.987225e+04,50127.750000,0.000,-1238.500000,NaN,NaN,NaN
305800,456241,5.573238e+06,-1599.200000,0.0,-1623.000000,-695.666667,NaN,0.000000,2.430000e+05,0.000000e+00,0.000000,0.000,-1096.600000,NaN,NaN,NaN
305801,456242,6.702236e+06,-491.000000,0.0,509.000000,NaN,NaN,0.000000,1.980000e+05,1.860975e+05,0.000000,0.000,-5.000000,11205.000000,17.000000,17.000000
305802,456243,5.208987e+06,-710.571429,0.0,-459.400000,-455.000000,0.000000,0.000000,2.553962e+05,3.118635e+05,0.000000,0.000,-338.285714,NaN,NaN,NaN
305803,456244,6.643937e+06,-1740.956522,0.0,-1132.090909,-1480.578947,7602.390000,0.000000,3.264789e+05,4.704964e+04,44.553750,0.000,-1209.826087,10298.250000,48.608696,48.608696
305804,456246,5.366286e+06,-1361.000000,0.0,-234.666667,-1331.000000,NaN,0.000000,1.275000e+05,0.000000e+00,0.000000,0.000,-373.333333,NaN,NaN,NaN
305805,456247,6.238913e+06,-1043.181818,0.0,1449.818182,-1085.000000,5932.676250,0.090909,4.714057e+05,3.655650e+05,0.000000,0.000,-768.818182,6227.357143,29.090909,29.090909
305806,456249,5.371700e+06,-1667.076923,0.0,-1232.333333,-1364.750000,6147.000000,0.000000,2.841430e+05,1.630710e+04,0.000000,0.000,-1064.538462,NaN,NaN,NaN
305807,456250,6.817237e+06,-862.000000,0.0,1288.333333,-760.000000,0.000000,0.000000,1.028820e+06,7.440134e+05,19422.795000,0.000,-60.333333,154567.965000,29.000000,29.000000
305808,456253,5.885018e+06,-867.500000,0.0,280.500000,-794.000000,NaN,0.000000,9.900000e+05,4.489582e+05,0.000000,0.000,-253.250000,58369.500000,29.250000,29.250000
305809,456254,6.669849e+06,-1104.000000,0.0,-859.000000,-859.000000,NaN,0.000000,4.500000e+04,0.000000e+00,NaN,0.000,-401.000000,0.000000,37.000000,37.000000
305810,456255,5.126332e+06,-1089.454545,0.0,3231.272727,-968.333333,12056.481000,0.090909,3.456290e+05,1.918641e+05,0.000000,0.000,-531.090909,1081.500000,26.636364,26.636364

### 2.3. Aggregate other DFs

In [10]:
def prepare_standard(df, group_column='SK_ID_CURR', aggregate='mean', df_name='prev'):
    
    """
    Implement a function to group other DFs in a way to enable it's merge onto train/test DF.
    This one will be very similar to prepare_bureau except for the fact that no merge of 
    bureau_balance is needed in the function body.
    One thing that is worth adding is the df_name parameter, which will be used for naming
    of columns in resulting DF.
    """
    
    return df_prepared

In [11]:
def prepare_standard(df, group_column='SK_ID_CURR', aggregate='mean', df_name='prev'):
    
    df_prepared = df.groupby([group_column]).agg(aggregate).reset_index()
    df_prepared.columns = [
        '{}_{}_{}'.format(df_name, x, aggregate) if group_column not in x else x for x in df_prepared.columns]
    
    return df_prepared

prev_prepared = prepare_standard(prev, aggregate='mean', df_name='prev')
prev_prepared

,SK_ID_CURR,prev_AMT_ANNUITY_mean,prev_AMT_APPLICATION_mean,prev_AMT_CREDIT_mean,prev_AMT_DOWN_PAYMENT_mean,prev_AMT_GOODS_PRICE_mean,prev_HOUR_APPR_PROCESS_START_mean,prev_NFLAG_LAST_APPL_IN_DAY_mean,prev_RATE_DOWN_PAYMENT_mean,prev_RATE_INTEREST_PRIMARY_mean,prev_RATE_INTEREST_PRIVILEGED_mean,prev_DAYS_DECISION_mean,prev_SELLERPLACE_AREA_mean,prev_CNT_PAYMENT_mean,prev_DAYS_FIRST_DRAWING_mean,prev_DAYS_FIRST_DUE_mean,prev_DAYS_LAST_DUE_1ST_VERSION_mean,prev_DAYS_LAST_DUE_mean,prev_DAYS_TERMINATION_mean,prev_NFLAG_INSURED_ON_APPROVAL_mean
0,100001,3951.000000,24835.500000,23787.000000,2520.000000,24835.500000,13.000000,1.000000,0.104326,NaN,NaN,-1740.000000,23.000000,8.000000,NaN,-1709.000000,-1499.000000,-1619.000000,-1612.000000,0.000000
1,100002,9251.775000,179055.000000,179055.000000,0.000000,179055.000000,9.000000,1.000000,0.000000,NaN,NaN,-606.000000,500.000000,24.000000,NaN,-565.000000,125.000000,-25.000000,-17.000000,0.000000
2,100003,56553.990000,435436.500000,484191.000000,3442.500000,435436.500000,14.666667,1.000000,0.050030,NaN,NaN,-1305.000000,533.000000,10.000000,NaN,-1274.333333,-1004.333333,-1054.333333,-1047.333333,0.666667
3,100004,5357.250000,24282.000000,20106.000000,4860.000000,24282.000000,5.000000,1.000000,0.212008,NaN,NaN,-815.000000,30.000000,4.000000,NaN,-784.000000,-694.000000,-724.000000,-714.000000,0.000000
4,100005,4813.200000,22308.750000,20076.750000,4464.000000,44617.500000,10.500000,1.000000,0.108964,NaN,NaN,-536.000000,18.000000,12.000000,NaN,-706.000000,-376.000000,-466.000000,-460.000000,0.000000
5,100006,23651.175000,272203.260000,291695.500000,34840.170000,408304.890000,14.666667,1.000000,0.163412,NaN,NaN,-272.444444,894.222222,23.000000,NaN,-325.666667,364.333333,-288.000000,-279.500000,0.000000
6,100007,12278.805000,150530.250000,166638.750000,3390.750000,150530.250000,12.333333,1.000000,0.159516,NaN,NaN,-1222.833333,409.166667,20.666667,NaN,-1263.200000,-837.200000,-1140.500000,-1131.000000,0.600000
7,100008,15839.696250,155701.800000,162767.700000,5548.500000,194627.250000,12.000000,1.000000,0.073051,NaN,NaN,-1192.000000,73.000000,14.000000,NaN,-1434.500000,-1044.500000,-1209.500000,-872.750000,0.250000
8,100009,10051.412143,76741.714286,70137.642857,9203.142857,76741.714286,13.714286,1.000000,0.126602,NaN,NaN,-719.285714,170.000000,8.000000,NaN,-688.285714,-478.285714,-595.833333,-588.833333,0.000000
9,100010,27463.410000,247212.000000,260811.000000,0.000000,247212.000000,16.000000,1.000000,0.000000,NaN,NaN,-1070.000000,8636.000000,10.000000,NaN,-1039.000000,-769.000000,-769.000000,-762.000000,0.000000
10,100011,18303.195000,202732.875000,261840.375000,6797.250000,270310.500000,11.750000,1.000000,0.050005,NaN,NaN,-1784.500000,342.250000,14.000000,-2277.0,-1955.000000,-1218.000000,-1231.000000,-734.500000,0.666667
11,100012,7894.155000,60930.000000,74119.500000,0.000000,81240.000000,12.500000,1.000000,0.000000,NaN,NaN,-779.750000,9.750000,18.000000,NaN,-973.333333,-463.333333,-563.333333,-559.333333,0.666667
12,100013,11478.195000,130871.250000,146134.125000,3375.000000,174495.000000,14.500000,1.000000,0.067217,NaN,NaN,-837.500000,82.000000,17.333333,NaN,-1005.666667,-515.666667,-715.666667,-710.333333,0.333333
13,100014,12806.550000,96536.250000,102834.000000,0.000000,96536.250000,13.500000,1.000000,0.000000,NaN,NaN,-473.000000,765.000000,9.000000,NaN,-438.500000,-198.500000,-483.000000,-475.000000,0.000000
14,100015,7666.920000,68850.000000,67077.000000,6885.000000,68850.000000,8.000000,1.000000,0.101382,NaN,NaN,-2396.000000,110.000000,10.000000,NaN,-2360.000000,-2090.000000,-2090.000000,-2084.000000,1.000000
15,100016,8593.155000,120745.125000,106221.375000,15690.375000,120745.125000,13.000000,1.000000,0.081682,NaN,NaN,-1779.500000,167.500000,17.000000,NaN,-1550.333333,-980.333333,-1050.333333,-1045.666667,0.333333
16,100017,14375.407500,176665.500000,175565.250000,19152.000000,176665.500000,16.500000,1.000000,0.106529,NaN,NaN,-1526.500000,1454.000000,17.000000,NaN,-1489.500000,-1009.500000,-2128.000000,-2122.000000,0.500000
17,100018,38669.703750,298363.466250,285989.591250,14295.375000,298363.466250,15.250000,1.000000,0.027229,NaN,NaN,-755.250000,619.500000,10.000000,NaN,-905.666667,-655.666667,-1035.000000,-1029.500000,0.000000
18,100019,10518.615000,84136.500000,104683.500000,0.000000,84136.500000,10.000000,1.000000,0.000000,NaN,NaN,-925.000000,1000.000000,12.000000,NaN,-894.000000,-564.000000,-714.000000,-705.000000,0.000000
19,100020,7254.517500,39206.250000,41706.000000,0.000000,39206.250000,10.500000,1.000000,0.000000,NaN,NaN,-357.500000,300.000000,7.000000,NaN,-326.000000,-146.000000,-291.000000,-284.000000,0.000000
20,100021,10686.165000,40961.250000,153615.750000,3770.100000,49153.500000,15.666667,1.000000,0.106606,NaN,NaN,-943.833333,2073.000000,7.000000,NaN,-1096.500000,-856.500000,-1265.333333,-1017.750000,0.000000
21,100022,6765.975000,89091.000000,103203.000000,0.000000,89091.000000,18.000000,1.000000,0.000000,NaN,NaN,-239.000000,-1.000000,18.000000,NaN,-209.000000,301.000000,NaN,NaN,1.000000
22,100023,8895.892500,98746.875000,113517.000000,8435.250000,98746.875000,10.000000,1.000000,0.098669,NaN,NaN,-1215.750000,382.000000,12.500000,NaN,-1481.333333,-1011.333333,-1251.333333,-1244.666667,0.500000
23,100025,27645.595714,259795.344375,295425.781875,5845.500000,296908.965000,14.375000,1.000000,0.105766,NaN,NaN,-731.000000,120.750000,13.714286,NaN,-1396.750000,-746.200000,-1151.000000,-1141.250000,0.600000
24,100026,33193.665000,269115.000000,292281.000000,0.000000,403672.500000,8.333333,1.000000,0.000000,NaN,NaN,-682.333333,66.000000,21.000000,NaN,-917.000000,-317.000000,-827.000000,-810.000000,0.500000
25,100027,24067.755000,163621.125000,173795.625000,0.000000,218161.500000,14.250000,1.000000,0.000000,NaN,NaN,-407.000000,557.250000,11.333333,NaN,-602.500000,-302.500000,-302.500000,-295.500000,0.500000
26,100028,8091.585000,49207.500000,92920.500000,3750.000000,82012.500000,10.800000,1.000000,0.057708,NaN,NaN,-1124.200000,1409.600000,11.333333,-1323.0,-1271.000000,-789.500000,-864.500000,-847.500000,0.000000
27,100029,22891.680000,126000.000000,126000.000000,0.000000,126000.000000,18.000000,1.000000,0.000000,NaN,NaN,-324.000000,18.000000,6.000000,NaN,-293.000000,-143.000000,-203.000000,-197.000000,0.000000
28,100030,4731.041250,33497.268750,32534.643750,1262.625000,33497.268750,12.500000,1.000000,0.044804,NaN,NaN,-1981.083333,75.833333,8.625000,NaN,-1582.500000,-1462.500000,-1522.500000,-1427.000000,0.000000
29,100032,7910.145000,69255.000000,42255.000000,27000.000000,69255.000000,10.000000,1.000000,0.424597,NaN,NaN,-1497.000000,246.000000,6.000000,NaN,-1466.000000,-1316.000000,-1316.000000,-1300.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338827,456225,20439.270000,315000.000000,345508.200000,NaN,315000.000000,16.000000,1.000000,NaN,NaN,NaN,-832.200000,-1.000000,21.600000,NaN,-989.000000,-119.000000,-179.000000,-173.000000,1.000000
338828,456226,60461.055000,540000.000000,561384.000000,NaN,540000.000000,13.000000,1.000000,NaN,NaN,NaN,-611.000000,-1.000000,12.000000,NaN,-578.000000,-248.000000,-488.000000,-480.000000,0.000000
338829,456227,11559.855000,78013.125000,84887.437500,853.500000,104017.500000,13.875000,1.000000,0.036303,NaN,NaN,-997.500000,42.875000,11.666667,NaN,-1508.600000,-1190.600000,-1244.600000,-1237.200000,0.600000
338830,456228,30263.780000,409075.000000,429149.500000,9006.300000,409075.000000,15.333333,1.000000,0.100557,NaN,NaN,-1353.888889,267.333333,16.444444,NaN,-1723.000000,-1313.000000,-1413.000000,-1408.000000,0.666667
338831,456230,35610.915000,278056.854000,278764.956000,3933.198000,278056.854000,16.000000,1.000000,0.033416,NaN,NaN,-1458.200000,1859.600000,9.333333,NaN,-868.333333,-618.333333,-1054.500000,-1049.000000,0.333333
338832,456231,14056.740000,143091.321429,162365.142857,4164.750000,222586.500000,14.357143,1.000000,0.049753,NaN,NaN,-402.214286,21.000000,23.333333,NaN,-580.800000,-214.800000,-472.800000,-462.400000,0.600000
338833,456232,9869.332500,102845.250000,106770.375000,0.000000,102845.250000,15.500000,1.000000,0.000000,NaN,NaN,-288.000000,267.750000,12.000000,NaN,-343.000000,74.250000,-174.000000,-167.500000,0.000000
338834,456233,5682.780000,63405.000000,67725.000000,0.000000,63405.000000,10.000000,1.000000,0.000000,NaN,NaN,-307.000000,150.000000,6.000000,-241.0,-240.500000,53.000000,NaN,NaN,0.500000
338835,456234,6870.570000,42535.125000,41704.875000,5175.000000,42535.125000,15.000000,1.000000,0.120431,NaN,NaN,-870.250000,38.000000,9.333333,NaN,-1331.000000,-1121.000000,-1181.000000,-1175.000000,0.000000
338836,456235,7560.081000,108359.199000,107253.900000,4695.165000,108359.199000,10.800000,1.000000,0.069931,NaN,NaN,-538.600000,101.800000,18.000000,NaN,-706.666667,-316.666667,-1168.000000,-1161.000000,0.250000
338837,456236,20817.933750,204750.000000,226901.250000,0.000000,204750.000000,11.000000,1.000000,0.000000,NaN,NaN,-2004.500000,-1.000000,15.000000,NaN,-2056.333333,-1606.333333,-1756.333333,-1750.333333,0.666667
338838,456237,15713.312143,229084.025000,226481.025000,NaN,294536.603571,9.555556,0.888889,NaN,NaN,NaN,-595.666667,1.888889,17.142857,-451.0,-683.200000,-146.500000,-517.000000,-640.333333,0.600000
338839,456238,9638.730000,295915.162500,283977.000000,11938.162500,295915.162500,18.000000,1.000000,0.108915,0.189136,0.835095,-243.000000,100.000000,12.000000,NaN,-324.000000,6.000000,-234.000000,-226.000000,0.000000
338840,456239,5773.725000,9056.250000,75919.500000,1813.500000,18112.500000,13.000000,1.000000,0.105887,NaN,NaN,-2822.500000,40.000000,2.000000,-2724.0,-2774.000000,-2798.000000,-1724.000000,-1336.000000,0.500000
338841,456240,27404.066250,286613.100000,310890.600000,3345.750000,358266.375000,12.000000,1.000000,0.048885,NaN,NaN,-614.200000,71.800000,21.000000,NaN,-622.000000,-22.000000,-545.000000,-539.500000,0.500000
338842,456241,14918.385000,181999.500000,228491.000000,12307.500000,327599.100000,12.333333,1.000000,0.090486,NaN,NaN,-536.666667,120.666667,20.333333,NaN,-701.750000,141.800000,-847.500000,-843.500000,0.166667
338843,456242,11054.520000,99441.000000,106664.625000,4638.000000,99441.000000,14.250000,1.000000,0.035169,NaN,NaN,-447.000000,450.000000,8.000000,-231.0,-412.250000,-193.666667,-318.000000,-312.000000,0.250000
338844,456243,6404.869286,63981.000000,61050.214286,6812.100000,63981.000000,15.857143,1.000000,0.186178,NaN,NaN,-753.000000,148.571429,13.142857,NaN,-691.000000,-461.000000,-531.000000,-527.000000,0.000000
338845,456244,29227.344231,304745.000000,349446.000000,7500.000000,457117.500000,10.277778,1.000000,0.017327,NaN,NaN,-1004.833333,54.833333,20.153846,-1262.0,-1252.700000,-625.777778,-1131.444444,-1059.666667,0.400000
338846,456245,6087.420000,67500.000000,82023.750000,NaN,67500.000000,14.000000,1.000000,NaN,NaN,NaN,-335.000000,12.500000,18.000000,NaN,-305.000000,205.000000,-88.000000,-80.000000,1.000000
338847,456246,6748.830000,18015.750000,84046.500000,4500.000000,36031.500000,15.500000,1.000000,0.130368,NaN,NaN,-897.000000,19.500000,3.000000,-256.0,-855.500000,-1330.000000,-1330.000000,-1324.000000,0.000000
338848,456247,10466.921250,59832.900000,59184.000000,2672.100000,59832.900000,12.200000,1.000000,0.041019,NaN,NaN,-1387.800000,38.000000,7.750000,NaN,-1539.250000,-1336.750000,-1396.750000,-1390.250000,0.250000
338849,456248,37444.038750,381240.000000,636604.875000,0.000000,508320.000000,14.750000,1.000000,0.000000,NaN,NaN,-1320.500000,6.750000,10.500000,NaN,-1483.666667,-1093.666667,-1093.666667,-1090.333333,0.750000
338850,456249,17133.952500,147105.000000,158699.250000,0.000000,147105.000000,9.500000,1.000000,0.000000,NaN,NaN,-1490.000000,34.000000,12.000000,NaN,-1495.000000,-1165.000000,-1165.000000,-1156.000000,0.000000
338851,456250,17711.568000,132832.687500,145843.312500,0.000000,212532.300000,7.625000,1.000000,0.000000,NaN,NaN,-520.000000,8.500000,15.600000,-373.0,-587.000000,-403.666667,-632.500000,-629.000000,0.250000
338852,456251,6605.910000,40455.000000,40455.000000,0.000000,40455.000000,17.000000,1.000000,0.000000,NaN,NaN,-273.000000,30.000000,8.000000,NaN,-210.000000,0.000000,-30.000000,-25.000000,0.000000
338853,456252,10074.465000,57595.500000,56821.500000,3456.000000,57595.500000,10.000000,1.000000,0.062443,NaN,NaN,-2497.000000,190.000000,6.000000,NaN,-2466.000000,-2316.000000,-2316.000000,-2311.000000,1.000000
338854,456253,4770.405000,24162.750000,20625.750000,4403.250000,24162.750000,11.500000,1.000000,0.214316,NaN,NaN,-2380.000000,22.000000,5.000000,NaN,-2339.000000,-2219.000000,-2219.000000,-2212.500000,0.500000
338855,456254,10681.132500,121317.750000,134439.750000,0.000000,121317.750000,15.000000,1.000000,0.000000,NaN,NaN,-299.500000,1578.000000,15.000000,NaN,-269.000000,151.000000,NaN,NaN,0.500000
338856,456255,20775.391875,362770.875000,424431.000000,4941.000000,362770.875000,14.625000,1.000000,0.064780,NaN,NaN,-587.625000,74.125000,21.750000,NaN,-648.333333,-108.333333,-358.333333,-349.000000,0.333333

In [12]:
ins_prepared = prepare_standard(ins, aggregate='mean', df_name='ins')
cred_card_bal_prepared = prepare_standard(cred_card_bal, aggregate='mean', df_name='cred_card_bal')
pos_cash_bal_prepared = prepare_standard(pos_cash_bal, aggregate='mean', df_name='pos_cash_bal')

### 3. Prepare applications train/test for merge and training:

In [13]:
def categorical_features_factorize(X):

    categorical_feats = [col for col in X.columns if X[col].dtype == 'object']
    print('Categorical features encoding: {}'.format(categorical_feats))

    for col in categorical_feats:
        X[col] = pd.factorize(X[col])[0]

    print('Categorical features encoded.')

    return X

In [14]:
# Concatenate train and test.
X = pd.concat([train, test], ignore_index=True, sort=False)

# Encode categorical features in concatenated DF.
X = categorical_features_factorize(X)

Categorical features encoding: ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']
Categorical features encoded.

### 4. Merge all prepared DFs onto concatenated train/test DF:

In [15]:
X = X.merge(bureau_prepared, how='left', on='SK_ID_CURR', copy=False)
X = X.merge(prev_prepared, how='left', on='SK_ID_CURR', copy=False)
X = X.merge(ins_prepared, how='left', on='SK_ID_CURR', copy=False)
X = X.merge(pos_cash_bal_prepared, how='left', on='SK_ID_CURR', copy=False)
X = X.merge(cred_card_bal_prepared, how='left', on='SK_ID_CURR', copy=False)

### 5. Split into train and test DFs once again and remove unnecessary columns:

In [16]:
# Split data into train and test once again, based on availability of TARGET variable.
X_train = X[X['TARGET'].notnull()]
X_test = X[X['TARGET'].isnull()]

# Select TARGET and create a new variable for it, useful for model training.
y_train = X_train.TARGET

# Remove X (concatenated DF), as it will not be needed anymore.
del X
gc.collect()

# Select only features relevant to the model, do not use ID or index ones!
good_features = [x for x in X_train.columns if x not in ['TARGET','SK_ID_CURR','SK_ID_BUREAU','SK_ID_PREV','index']]

### 6. KFold split and model training:

Preparing a function for training in this way is useful for a number of reasons:
- it is easy to change model parameters
- it is easy to change number of folds
- it is easy to change split seed to train on different splits

Therefore a number of runs with very different parameters can be easily created for proper ensembling.

In [17]:
def run_kfold_lgbm(X_train,
                   y_train,
                   X_test,
                   model_params,
                   n_folds=5,
                   seed=1337):
    
    
    # Prepare KFold split, Stratified works well in this competition.
    # Parametrize it's seed to enable easy change of splits.
    kf = StratifiedKFold(
        n_splits=n_folds, shuffle=True, random_state=seed)
    
    # Subset features to eliminate irrelevant ones.
    X_train = X_train[good_features]
    X_test = X_test[good_features]
    
    # Assert that both train and test have the same set of columns.
    assert np.all(X_train.columns == X_test.columns), '\
    Train and test sets must have the same set of columns.'

    # Create oof sets for prediction storage.
    # Create gbm_history for storage of best AUC per fold.
    oof_train = np.zeros((X_train.shape[0]))
    oof_test = np.zeros((X_test.shape[0], n_folds))
    gbm_history = {}

    # Helper variable to index oof
    i = 0
    
    for train_index, valid_index in kf.split(X=X_train, y=y_train):
        assert len(np.intersect1d(train_index, valid_index)) == 0, '\
        Train and test indices must not overlap.'
        
        print('Running on fold: {}'.format(i + 1))

        # Create train and validation sets based on KFold indices.
        X_tr = X_train.iloc[train_index]
        X_val = X_train.iloc[valid_index]
        y_tr = y_train.iloc[train_index]
        y_val = y_train.iloc[valid_index]

        dtrain = lgb.Dataset(X_tr, y_tr)
        dvalid = lgb.Dataset(X_val, y_val, reference=dtrain)

        # Train LightGBM model, it's parameters can be changed easily
        # through model_params function variable.
        gbm = lgb.train(
            params=model_params,
            train_set=dtrain,
            evals_result=gbm_history,
            num_boost_round=10000,
            valid_sets=[dtrain, dvalid],
            early_stopping_rounds=200,
            verbose_eval=100)

        # Predict validation and test data and store them in oof sets.
        oof_train[valid_index] = gbm.predict(
            X_val, num_iteration=gbm.best_iteration)
        oof_test[:, i] = gbm.predict(X_test, num_iteration=gbm.best_iteration)
        
        # Show best AUC per fold based on GBM training history.
        print('Best fold GBM AUC: {:.4f}\n'.format(np.max(gbm_history['valid_1']['auc'])))

        i += 1

    return oof_train, oof_test

In [18]:
gbm_params = {
    'objective': 'binary',
    'boosting_type': 'gbdt',
    'nthread': 6,
    'learning_rate': 0.05,  # 02,
    'num_leaves': 20,
    'colsample_bytree': 0.9497036,
    'subsample': 0.8715623,
    'subsample_freq': 1,
    'max_depth': 8,
    'reg_alpha': 0.041545473,
    'reg_lambda': 0.0735294,
    'min_split_gain': 0.0222415,
    'min_child_weight': 60, # 39.3259775,
    'seed': 0,
    'verbose': -1,
    'metric': 'auc',
}


oof_train, oof_test = run_kfold_lgbm(X_train, y_train, X_test, gbm_params)

Running on fold: 1
Training until validation scores don't improve for 200 rounds.
[100]	training's auc: 0.772531	valid_1's auc: 0.760984
[200]	training's auc: 0.794736	valid_1's auc: 0.772915
[300]	training's auc: 0.807197	valid_1's auc: 0.776401
[400]	training's auc: 0.817481	valid_1's auc: 0.777639
[500]	training's auc: 0.826424	valid_1's auc: 0.777997
[600]	training's auc: 0.834601	valid_1's auc: 0.77844
[700]	training's auc: 0.841938	valid_1's auc: 0.77883

KeyboardInterrupt:

In [ ]:
# Take mean of fold predictions for the test data.
submission_preds = oof_test.mean(axis=1)

# Prepare submission format and save it.
submission_df = X_test[['SK_ID_CURR']].copy()
submission_df['TARGET'] = submission_preds
# submission_df[['SK_ID_CURR', 'TARGET']].to_csv('DIC_pipeline_lgbm.csv', index= False)